video {
    width: 100%;
    height: 100%;
}

.aboutme p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 600px) {
    video {
        height: 250px;
    }    
}