header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 1px solid black;
    padding: 5px;
    border-radius: 100%;
}

nav {
    width: 70%;
}

.menu {
    display: flex;
    justify-content: space-between;
}